/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
html {
	overflow-y: scroll;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}
q, blockquote {
	quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
}
a img {
	border: none;
}
a {
	text-decoration: none;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section, summary {
	display: block;
}
html {
	height: 100%;
}
body {
	height: 100%;
	font-family: arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #3c454c;
	-webkit-text-size-adjust: 100%;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
#content {
	padding: 10px;
}
.js-check-test dl {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ccc;
}
.js-check-test dl:first-child {
	border-top: 1px solid #ccc;
}
.js-check-test dt {
	width: 10em;
	padding: 20px;
	text-align: right;
}
.js-check-test dd {
	padding: 20px 20px 20px 0;
}
.js-check-test dd input {
	padding: 2px 4px;
	border: 1px solid #999;
}
.js-check-test dd.result {
	color: #f00;
}
.select-customize {
	padding: 20px;
	border-bottom: 1px solid #ccc;
}
.select-customize select {
	opacity: 0; /* 初期値として必須 */
}
.select-wrapper select {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 100%;
	font-family: inherit;
	opacity: 0;
}
.box-style{
	padding:10px;
}
.box-style ul{
	overflow:hidden;
	padding:10px 0 0 10px;
	background-color:#000;
}
.box-style li {
	display: block;
	float:left;
	padding:0 10px 10px 0;
}
.box-style li .rect-box {
	position:relative;
	width: 200px;
	height: 100px;
	margin:0 20px 20px 0;
	background-color:#efefef;
	transition: all 0.2s ease-out 0s;
}
.box-style li .rect-box:before,
.box-style li .rect-box:after{
	position:absolute;
	content:"";
	transition: all 0.2s ease-out 0s;
}
.box-style li .rect-box:before{
	width:100%;
	height:20px;
	bottom:0;
	left:0;
	margin-bottom:-20px;
	background-color:#ccc;
	-moz-transform-origin:100% 0;
	-webkit-transform-origin:100% 0;
	transform-origin:100% 0%;
	-moz-transform:skewX(45deg);
	-webkit-transform:skewX(45deg);
	transform:skewX(45deg);
}
.box-style li .rect-box:after{
	width:20px;
	height:100%;
	top:0;
	right:0;
	margin-right:-20px;
	background-color:#ddd;
	-moz-transform-origin:0 0;
	-webkit-transform-origin:0 0;
	transform-origin:0 0;
	-moz-transform:skewY(45deg);
	-webkit-transform:skewY(45deg);
	transform:skewY(45deg);
}
.box-style li:hover .rect-box{
	margin:10px;
}
.box-style li:hover .rect-box:before{
	height:10px;
	margin-bottom:-10px;
}
.box-style li:hover .rect-box:after{
	width:10px;
	margin-right:-10px;
}